<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<title>Entendência</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">


  </head>
  <body style="background-color: #292b2c">
    <!--Menu -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  		<span class="navbar-toggler-icon"></span>
  	  </button>
  	  <img src="img_block/pmmg.png" alt="PMMG" height="42" width="72" style="margin-right: 20px;" >
  	  <div class="collapse navbar-collapse" id="navbarNav">
  		<ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="emprestimo.html">Empréstimo</a>
        </li>
  		  <li class="nav-item">
          <a class="nav-link" href="colmeiacpmg/devolucao.html">Devolução</a>
  		  </li>
  		</ul>
  	  </div>
      <img src="img_block/colmeia_symbol2.png" alt="PMMG" height="82" width="134">
  	</nav>

    <div style="padding-top: 5%; ">
        <div class="container">
            <div class="col-md-8">

    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </h1>
    <form action="/addemprestimo" method="post" style="padding-left: 50%;">
        <div class="form-group">
        <input type="text" name="policial" class="form-control" id="cod" aria-describedby="emailHelp" placeholder="Código do Policial"/>
        </div>
        <div class="form-group">
            <input type="text" name="equipamento" class="form-control" id="item" aria-describedby="emailHelp" placeholder="Equipamento"/>
        </div>
        <div class="form-group">
        <input type="text" name="quantidade" class="form-control" id="example1" aria-describedby="emailHelp" placeholder="Quantidade"/>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-info">Emprestar</button>
    </form>
</div>
</div>
</div>
<!--/Menu -->
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
